<!DOCTYPE html>
<html>
<head>
    <title>Participants</title>
</head>
<body>

    <h1>Participants</h1>

    <table border="1">
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Department</th>
            <th>Email</th>
        </tr>

        {% for employee in employees %}
        <tr>
            <td>{{ employee[0] }}</td>
            <td>{{ employee[1] }}</td>
            <td>{{ employee[2] }}</td>
            <td>{{ employee[3] }}</td>
        </tr>
        {% endfor %}

    </table>

    <br>

    <a href="/">Home</a> |
    <a href="/add">Add Employee</a>

</body>
</html>
